<!DOCTYPE html>
<html>
<head>
  <title>HarmonyCms</title>
  <%= stylesheet_link_tag    "harmony_cms/application" %>
  <%= javascript_include_tag "harmony_cms/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
